@import "../@variants/constant";
@import "../@variants/color";

.Button {
  @include NoBubbling;
  cursor: $pointer;
  height: $height_button;
  border-radius: $br_btn;
  position: relative;
  user-select: none;
  white-space: nowrap;
  padding: 0 20px;
  margin: 0 1px;
  background-color: $transparent;
  transition: $trans_default;
  box-sizing: content-box;
  text-underline: none;
  color: black;

  &:active {
    color: black;
  }

  &::after {
    content: "";
    width: 0;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
  }

  .text {
    display: inline-block;
    vertical-align: middle;
    font-family: $button_font;
    font-size: $fs_button;
    color: $color_button;

  }
  &:hover {
    background-color: $bc_ico_hover;

    .text {
      color: $color_button_hover;
    }
  }
}
