@import "../@variants/constant";
.postcard {
  margin: 20px;
  display: block;
  padding: 20px;
  border-radius: 15px;
  cursor: pointer;
  height: 250px;
  transition: all 0.15s ease;
  overflow: hidden;
  .head {
    height: 60px;

  }

  .title {
    font-size: 1.8rem;
    margin-bottom: 10px;
  }

  .description {
    height: 60px;
  }
}

.post {


  .divider {
    @include Divider;
    margin: 20px 0;
  }

  .title {
    font-size: 2.5rem;
    margin:60px 0;
  }
  h1 {
    font-size: 2.2rem;
    margin:60px 0;
    font-weight: 300;
  }
  h2 {
    font-size: 2.3rem;
    margin: 30px 0;
    font-weight: 100;
  }


  p {
    text-indent: 2rem;
    margin: 10px 0;
  }
  p, span ,li{
    line-height: 1.8rem;
    letter-spacing: 1px;text-align: justify;
  }


  li {
    margin-left: 30px;


    p {
      text-indent: 0;
    }
  }

  * {
    font-family: $font-default;
  }
  pre {
    div {
      border-radius: 12px !important;
    }
  }
  code{
    * {
      line-height: 1.5rem;
      font-family: "jr",sans-serif;
      letter-spacing: 0;
    }
  }

  h3 , h4, h5{
    font-size: 1.4rem;
    margin: 20px 0;
  }

  img {
    width: 80%;
    margin: auto;
    border-radius: 16px;
  }


  blockquote{
    margin: 30px 0;
    padding: 0 15px;
    line-height: 1rem;
    border-left: 6px #e0dbd9 solid;
    *{
      text-indent: 0;
    }
  }
}