@import "constant";

$text: #567189;

/*hover before 遮罩
*/
@mixin bc_hover($color) {
  &::before {
    z-index: 1;
    @include Max;
    position: absolute;
    left: 0;
    background-color: $color;
    content: "";
    border-radius: $br_default;
  }
}

@mixin dynamic_shadow {
  &::after {
    content: "";
    position: absolute;
    top: 40%;
    width: 80%;
    left: 10%;
    height: 60%;
    background-color: inherit;
    z-index: -1;
    filter: blur(15px) brightness(100%) opacity(0.4);
  }
}

/*char*/
$color_primary: #2d5fe5;
$color_default: #000000;
$color_divider: #e2e8f0;
$color_button: #71717a;
$color_button_hover: #0f172a;
$color_button_focus: #ffffff;
$fill_icon: rgba(121, 128, 134, 0.87);
$fill_icon_hover: #798086;
$fill_textBtn: #505050;
$color_button_warning: #c50101;
/*background*/
$bc_menu: #fff;
$transparent: transparent;
$bc_default: #eeeeee;
$bc_button: $bc_default;
$bc_button_check: #f3ece3;
$bc_button_hover: #e2e8f0;
$bc_button_focus: #323234;
$bc_ico: rgba(255, 227, 210, 0);
$bc_ico_hover: rgba(241, 241, 241, 0.26);
$bc_btn_hover_before: rgba(156, 164, 199, 0.08);
$bc_ico_hover_before: rgba(252, 188, 108, 0.07);
$bc_input: #fff;
$bc_input_hover: #fff;
$bc_input_focus: #fff;
$bc_textBtn: #ffdd00;
$bc_button_warning: rgba(234, 188, 188, 0.9);
$bc_button_warning_hover: rgba(234, 188, 188, 0.9);
