@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');
$font-default:"HarmonyOS Sans SC",'Noto Sans SC','Roboto', sans-serif;
$noto:"HarmonyOS Sans SC",'Noto Sans SC','Roboto', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');

$font-title: 'Yeseva One', cursive;

/*cursor*/
$pointer:url("/icon/hand.png"), pointer;
$arrow:url('/icon/default.png'), auto;
$text:url('/icon/text.png'), text;

$fs_default:0.875rem;
$fs_button:0.92rem;
$fs_mark:0.72rem;

/*border radius*/
$br_default:8px;
$br_iconButton:50%;
$br_menu:8px;
$br_btn:8px;
/*border*/
$b_input:4px solid rgba(206, 204, 204, 0.6);
$b_settingBar:1px solid rgba(9, 30, 66, 0.1);
$b_input_active:3px solid #7da953;
/*padding*/
$p_input:15px;

/*height and size*/
$full: 100%;
$height_button: 40px;
$height_listButton:40px;
$size_icon:16px;
$height_header: 30px;
$height_menuButton: 32px;
$height_body: calc(100vh - $height_header);

/*width*/
$width_contents: 250px;
$width_body:calc($full - $width_contents);


/*transition*/
$trans_default:all 200ms ease;


/*z index*/
$z_header: 200;
$z_pop: 800;
$z_focusItem: 700;
$z_modal:600;
$z_snack:1000;


/*border*/
$Divider_Border: 1px solid #dedede;


/*font*/
$default_font: "HarmonyOS Sans SC", "HarmonyOS Sans", "sans-serif";
$button_font: "sans-serif";

/*shadow*/
$boxShadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px;
$bs_menu: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
$sd_docker:rgba(0, 0, 0, 0.1) 0 5px 20px 0, rgba(9, 30, 66, 0.08) 0 0 0 1px;




@mixin title_font {
  font-size: 1.35em;
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
@mixin Divider {
  width: 100%;
  height: 1px;
  margin: 10px 0;
  background-color: rgba(0, 0, 0, 0.13);
}

@mixin ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
}


@mixin Max {
  height: 100%;
  width: 100%;
}

@mixin NoBubbling {
  * {
    pointer-events: none;
  }
}
/*
Flex
*/

@mixin Flex {
  display: flex;
}

@mixin yFlex {
  @include Flex;
  flex-direction: column;
}

@mixin xFlex {
  @include Flex;
  flex-direction: row;
}

@mixin FlexCenter {
  align-items: center;
  justify-content: center;
}

/*

scroll*/
@mixin ScrollY {
  @include ScrollBar;
  overflow-y: scroll;
  scroll-behavior: smooth;
  transition: all 300ms ease;
  padding-left: 8px;
  padding-right: 2px;
}

@mixin ScrollBar {
  &::-webkit-scrollbar {
    display: block;
    width: 14px;
    background-color: transparent;
    background-clip: content-box;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba(140, 140, 140, 0.3);
    height: 60px;
    border-radius: 20px;
    border: 3px solid #fff;
    &:hover {
      background-color: rgba(140, 140, 140, 0.5);
    }
  }
  &::-webkit-scrollbar-track {
    margin: 20px 0;
    background-color: transparent;
  }
}
