@import "constant";
@import "color";

@font-face {
  font-display: block;
  font-family: "Noto_Light";
  src: url("/public/icon/NotoSans-Light.ttf");
}

@font-face {
  font-display: block;
  font-family: "Noto_Medium";
  src: url("/public/icon/NotoSans-Medium.ttf");
}