@import "./@variants/constant";

.home {

  .main_bar {
    height:360px;
    width: 100%;
    border-radius: 12px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("http://39.96.54.181:88/other/黑暗中漫舞/黑暗中漫舞.jpg");
    box-shadow: rgb(0 0 0 / 20%) 0 3px 5px -1px, rgb(0 0 0 / 14%) 0px 5px 8px 0px, rgb(0 0 0 / 12%) 0px 1px 14px 0px;
    transition: $trans_default;
  }

  .main_card {
    margin-top: 60px;
    position: relative;
    .avatar {
      position: absolute;
      right: 20px;
    }

    .hi {
      height: 120px;
      line-height: 120px;
      margin-left: 2rem;
      margin-bottom: 2rem;
      font-size: 2.5rem;
      box-sizing: border-box;
      min-width: 0;
      font-weight: 700;
      color: var(--theme-ui-colors-heading);
    }

    .typing {
      text-align: justify;
      text-indent: 2rem;
      font-size: 1.2em;
      font-family: $noto;
      line-height: 3rem;
      letter-spacing: 1px;
      cursor: $pointer;
      &:hover  {
        text-decoration: underline 2px;
      }
    }
  }
}