::-webkit-scrollbar {
  display: none; /* Chrome Safari */
}

@font-face {
  font-family: 'jr';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  src: url(/font/tt.woff2) format("woff2");
}